{%- liquid
  assign mod_url = url
  assign first_char = url | split: '' | first

  if first_char == '#' and request.page_type != 'index'
    assign mod_url = routes.root_url | append: url
  endif
-%}

{% assign page_handle = mod_url | split: '/' | last %}
{% assign page_obj = pages[page_handle] %}
{% assign menu_color = page_obj.metafields.custom.menu_color %}

<li>
  <a
    href="{{- mod_url -}}"
    style="color: {{- menu_color | default: '#000' | escape -}}"
    class="header__link"
  >
    {{- title -}}
  </a>
  <!-- /.header__link -->
</li>
