{%- liquid
  assign mod_url = url
  assign first_char = url | split: '' | first

  if first_char == '#' and request.page_type != 'index'
    assign mod_url = routes.root_url | append: url
  endif
-%}

<li>
  <a href="{{- mod_url -}}" class="product__menu__sublink" onclick="clearRememberedVariant()">{{- title -}}</a>
  <!-- /.header__link -->
</li>
