{% comment %}
  Accepts:
    option {Object} - Product Option - product.options_with_values

  Requires:
    component-product-swatch.css
{% endcomment %}

<div class="product__swatches">
  {%-
    liquid
    assign used_swatches = ''
    assign used_colors = ''
  -%}

  {%- for variant in product.variants -%}
    {%- assign current_swatch = '%' | append: variant.metafields.custom.swatch | append: '%' -%}
    {%- assign current_color = '%' | append: variant.options[position] | append: '%' -%}

    {%- if variant.metafields.custom.swatch == blank or used_swatches contains current_swatch or used_colors contains current_color -%}
      {%- continue -%}
    {%- endif -%}

    <a href="{{- variant.url -}}" class="product-swatch js-swatch">
      <img src="{{- variant.metafields.custom.swatch | image_url: width: 88 -}}" alt="{{- variant.title -}}" width="auto" height="auto" loading="lazy">
    </a>

    {%- assign used_swatches = used_swatches | append: current_swatch -%}
    {%- assign used_colors = used_colors | append: current_color -%}
  {%- endfor -%}
</div><!-- /.product__swatches -->
