.product-item__image {
  width: 33.33vw;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: contain;
}

.product-item__price {
  text-align: center;
  margin-block: 1rem 2rem;
}

@media (min-width: 990px) {
  .product-item {
    width: 11rem;
    padding-inline: 2rem;
  }

  .product-item__image {
    width: 11rem;
  }

  .product-item__title {
    min-height: 6.2rem;
  }

  .product-item__price {
    margin-block: 1rem;
  }
}
