.radio {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.radio--sold-out {
  color: var(--color-neutral);
}


.radio input {
  position: absolute;
  inset: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.radio--sold-out input {
  cursor: default;
}

.radio--sold-out label {
  cursor: default;
}

.radio input:checked + label {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
}
