.product-swatch {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  position: relative;
  transition: transform var(--duration-long) ease-in-out;
}

.product-swatch img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

@media (hover: hover) {
  .product-swatch:hover {
    transform: scale(1.15);
    opacity: 1;
  }
}
