.category__head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50dvw;
}

.category__title {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  left: 0.7rem;
  bottom: 0;
  z-index: 2;
  transform: rotate(90deg) translate3d(-100%, -100%, 0);
  transform-origin: 0 0;
}

.category__title span {
  display: block;
}

.category__title span:empty {
  display: block;
}

.category__head .category__media {
  width: calc(100dvw - calc(100dvw - 100%));
  padding-bottom: 100dvw;
  position: relative;
}

.category__media > * {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
}

.category__item {
  display: flex;
  margin-bottom: 50dvw;
}

/* .category__body .category__item:nth-of-type(even of div) {
  flex-direction: row-reverse;
} */

.model__right {
  flex-direction: row-reverse;
}

.category__image {
  min-width: calc(50dvw - calc(50dvw - 50%));
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

/* .category__product {
  width: 100%;
} */

.category__product {
  width: calc(50dvw - calc(50dvw - 50%));
  /* height: 50dvw; */
  position: relative;
}

.category__product-image {
	width: 100%;
	height: 50%;
  position: relative;
}

.category__image img,
.category__product-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center center;
}

.category__product-image img {
  object-fit: contain;
}

.category__product-image:focus-within a {
  opacity: 0.5;
}

.category__product-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
  overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 50%;
	padding: 1rem;
	/* margin-top: 1rem;
	margin-bottom: 1rem; */
  /* padding-inline: 1rem; */
	box-sizing: border-box;
}

.category__product-content p {
	text-align: center;
}

.category__product-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  /* margin-block: 2rem 0.8rem; */
}

@media (min-width: 990px) {
  .category {
    margin-bottom: 25dvw;
  }

  .category__head {
    margin-bottom: 0dvw;
  }

  .category__head .category__media {
    width: 50%;
    padding-bottom: 50dvw;
  }

  .category__head--right {
    justify-content: flex-end;
  }

  .category__head--fullwidth .category__media {
    width: 100dvw;
  }

  .category__head--right .category__media {
    width: 75dvw;
  }

  .category__title {
    width: 25dvw;
    height: 25dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    pointer-events: none;
  }

  .category__body div {
    display: flex;
    flex-wrap: wrap;
  }

  .category__item {
    width: 100%;
    max-width: 50%;
    display: inline-flex;
    /* flex-direction: row; */
    margin-bottom: 0;
  }

  /* .category__item:nth-child(2n) {
    flex-direction: row;
    transition-delay: var(--duration-default);
  } */

  /* .category__item:nth-child(4n),
  .category__item:nth-child(4n - 1) {
    flex-direction: row-reverse;
  } */

  .category__image {
    width: 100%;
    min-width: unset;
    max-width: 50%;
    height: 50dvw;
  }
}

@media (hover: hover) and (pointer: fine) {
  .category__product {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-long) ease-in-out;
  }

  .category__item:hover .category__product {
    opacity: 1;
    pointer-events: all;
  }
}

