{{ 'visit-page.css' | asset_url | stylesheet_tag }}

<div class="full-screen-background">
  <!-- Need something here, even a comment, for some reason -->
</div>

<div class="content-container">
  <div class="centered-page-content-in-white">
    {{ page.content }}
  </div>
</div>
